.root {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}
.axis {
    -fx-tick-length: 10px;
    -fx-minor-tick-length: 5px;
    -fx-tick-label-font-size: 14px;
    -fx-tick-label-font-family: "Arial";
    -fx-tick-label-fill: black;
}
.axis:bottom {
    -fx-border-color: black transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent black transparent transparent;
    -fx-tick-label-fill: transparent;
}
.axis-tick-mark {
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.axis-minor-tick-mark {
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.axis-label {
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
}
.plotTitle {
    -fx-background-color: white;
    -fx-font-size: 24px;
    -fx-text-fill: black;
    -fx-font-family: "Arial";
}
.pane {
    -fx-background-color: white;    
}