.root {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14px;
}

.titleLabel {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 24px;
    -fx-text-fill: red;
}

.axis {
    -fx-tick-length: 10px;
    -fx-minor-tick-length: 5px;
    -fx-tick-label-font-size: 14px;
    -fx-tick-label-font-family: "Times New Roman";
    -fx-tick-label-fill: black;
}
.axis:bottom {
    -fx-border-color: black transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent black transparent transparent;
}
.axis-tick-mark {
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.axis-minor-tick-mark {
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.axis-label {
    -fx-text-fill: green;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 20px;
}